.categories {
  display: flex;
  justify-content: space-between;

  gap: 35px;
}

.category {
  padding: 16px 35px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 10px;
}

@media screen and (max-width: 550px) {
  .categories {
    flex-wrap: wrap;
  }
}
